<div class="container">
  <h1 class="mt-3">Stupid Coaching</h1>

  <form action="/answer" data-turbo="false" class="row">
    <div class="col-6 mb-3">
      <%# <label for="Ask your coach anything" class="form-label">Ask your coach anything</label> %>
      <p>Ask your coach anything</p>
      <input type="text" name="asking">
      <input type="submit" value="Ask!" class=" form btn btn-primary mb-2">
    </div>
  </form>
</div>
